//- Tags to be used in browsing page

form(action="/explore", method="GET")
  h2 Country
  select(name="country")
    option(value="") All Countries
    each country in countries
      option(
        value=country.country_id
        selected=(selectedCountry == country.country_id)
      )= country.name

  h2 Dietary
  each dietary in dietaryTags
    label
      input(
        type="checkbox"
        name="dietary"
        value=dietary.dietary_id
        checked=(selectedDietary && selectedDietary.includes(String(dietary.dietary_id)))
      )
      | #{dietary.name}

  button(type="submit") Apply Filters