//- Recipe preview cards to be displayed in browsing page

if recipes.length === 0
  p There are currently no recipes.

else
  .recipes
    each recipe in recipes

      article
        if recipe.image
          img(src=recipe.image, alt=recipe.title)

        else
          img(src="/images/default-recipe-image", alt="Default Recipe Image")

        h3
          a(href=`/recipes/${recipe.recipe_id}`)= recipe.title

        p= recipe.country || 'International'
        p by #{recipe.username}