//- Base structure for all pages 

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title World's Pantry
    link(rel="stylesheet", href="/style.css")

  body
    header
      nav
        .nav-left
          a(href="/")
            img(src="/images/logo.png", alt="Logo")
          a(href="/") Home
          a(href="/explore") Browse

        .nav-center
          form.search-form(action="/explore", method="GET")
            input.search-input(
              type="text"
              name="search"
              placeholder="Browse recipes"
              value=selectedSearch || ""
            )
            button(type="submit") Search

        .nav-right
          if user
            a(href="/profile")
              if userProfile && userProfile.profileImage
                img(src=userProfile.profileImage, alt="Profile Picture")
              else
                img(src="/images/default-user-icon.png", alt="Profile Picture")

          else
            a(href="/auth/signin")
              img(src="/images/default-user-icon.png", alt="Login")

    main
      block content